.width-full-img {
  --bs-gutter-x: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-login:hover {
  background-color: black;
}

.card-img-top {
  transition: transform 0.5s;
}

.card-img-top:hover {
  transform: scale(1.02);
}
